{% extends "base.html" %} 
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock head %}

{% block content %}

       <div id="parallelogram"></div>

      <div id="container">
        <!--Content-->
          <div class="content">

            <div id="title">Journey into Knowledge</div>
              <!--Form-->
            <form action="/quiz/" class="form" method="get">
                <div class="category">
                  <span>Category</span>
                  <select class="form-select" aria-label="Default select example" name="category">
                    <option selected value="0">Any</option>  
                    {% for category in categories%}
                              <option value="{{ category.id }}">{{category.name}}</option>
                      {% endfor%}
                  </select>
                </div>
              
        
              <div class="button">
                <input type="submit" value="Start">
              </div>
            </form>
          </div>

  
{% endblock content %}
