{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>Questions Quiz</title>
<link rel="stylesheet" href="{% static 'css/quiz.css' %}">
{% endblock head %}
{% block content %}
<!--Timer-->
<!--Quiz-->
<div class="box">
      <div id="timer">
         <span id="hours">00</span>:<span id="minutes">00</span>:<span id="seconds">00</span>
      </div>
   <div class="container">
      <div id="title-quiz">
         <h1>Quiz</h1>
      </div>

      <!--Questions Quiz-->
      {% for question in questions %}

      <!--Show first question-->
      {% if  forloop.first%}
      <div id=number-{{ forloop.counter }} class="show-question">
         {% else %}
         <div id=number-{{ forloop.counter }} class="hidden-question">
            {% endif %}
            <div id="question">
               <p class="quest-number-{{forloop.counter}}" data-numb-question="{{question.id}}">{{question}} </p>
            </div>

            <!--Answers-->
            <div id="box-responses">
               {% for answer  in question.answer_question.all %}      
               <div class="questions">
                  <a href="#" class="link-questions" data-numb-answer="{{forloop.parentloop.counter}}">{{answer}}</a>
               </div>
               {% endfor %}
            </div>
         </div>

         <!--Commands-->
         {% endfor %}
         <div id="commands">
            <span id="count">Question: <span id="current-counter">1</span><span id="total-questions" data-total="{{ questions|length }}"> of {{ questions|length }}"</span><a href="#" id="btn-next" class="btn-disabled">Next</a>
         </div>
      </div>
   </div>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="{% static 'js/quiz.js' %}"></script>
{% endblock content %}