
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock extra_head %}

<div class="settings-quiz">
  <div id="parallelogram"></div>
    <div id="container">
      <!--Content-->
        <div class="content">
          <div id="title">Journey into Knowledge</div>
            <!--Form-->
          <form action="#" class="form">
       
              <div class="category">
                <span>Category</span>
                <select class="form-select" aria-label="Default select example">
                   
                    {% for category in categories%}
                      {% if category.name == 'Any' %}
                        <option selected value="{{category.id}}">{{category.name}}</option>
                      {% else %}
                        <option value="{{ category.id }}">{{category.name}}</option>
                      {% endif%}
                    {% endfor%}
                </select>
              </div>
            
      
            <div class="button">
              <input type="submit" value="Start">
            </div>
          </form>
        </div>
      </div>