* {
    box-sizing: border-box;
    font-family: Helvetica; 
}

body {
    background-image: linear-gradient(to right, rgba(41, 49, 163), rgb(129, 143, 188));
    font-size: 20px;
    color: white;
}
a {
     color: white;
}

.box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: auto;
    border: solid 2px black;
    background-color: rgba(0, 0, 0, 0.1);
} 

.container {
    margin: 20px;
    color: white;
}
h1{
    text-align: center;
    font-size: 26px;
    padding: 10px;
    background-color: rgba(52, 54, 171, 0.355);
}
p {
    font-size: 20px;
}
.questions{
    padding: 10px;
    margin: 5px;


}
.link-questions {
    display: flex;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    justify-content: left;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.link-questions:hover {
  background-color: rgba(0, 0, 0, 0.3);
  
}

.link-questions.clicked { 
    border: 1px solid rgb(93, 220, 34);
    background-color: black;
    pointer-events: none;
    opacity: 0.5; 
}
.link-questions.disabled {
    pointer-events: none;
    opacity: 0.5; 
}
#commands{
    margin: 15px;
}
#btn-next {
    display: flex;
    position: relative;
    left: 605px;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.5s;
    background-color: rgb(34, 17, 101);
    border-radius: 8px;
    width: 120px;
    justify-content: center;
}
#btn-next:hover {
    background-color: rgb(32, 35, 189);
}
.btn-disabled {
    pointer-events: none;
    opacity: 0.5; 
}

#count {
    position: relative;
    top: 36px;
    padding: 10px;   

}

/*Hidden all questions*/
.hidden-question{
    display: none;
}

/* Timer */

#timer {
    position: relative;
    width: 100%;
    height: 25px;   
    top: 50%;
    color: white;
}
#timer span {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 1px;
}