* {
    box-sizing: border-box;
    font-family: Helvetica; 
    color: white;

}
body {
    background-image: linear-gradient(to right, rgba(41, 49, 163), rgb(129, 143, 188));
    font-size: 20px;
}
.box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: auto;
    border: solid 2px black;
    background-color: rgba(0, 0, 0, 0.1);
} 

.container {
    margin: 20px;
}
h1{
    text-align: center;
    font-size: 26px;
    padding: 10px;
    background-color: rgba(52, 54, 171, 0.355);
}
p {
    font-size: 20px;
}
.questions{
    padding: 10px;
    margin: 5px;

}
.btn-questions {
    display: flex;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    justify-content: left;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.btn-questions:hover {
  background-color: rgba(0, 0, 0, 0.3);
  
}
#commands{
    margin: 15px;
}
#btn-next {
    display: flex;
    position: relative;
    left: 605px;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.5s;
    background-color: rgb(34, 17, 101);
    border-radius: 8px;
    width: 120px;
    justify-content: center;
}
#btn-next:hover {
    background-color: rgb(32, 35, 189);
}
#count {
    position: relative;
    top: 36px;
    padding: 10px;   

}