* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

body {
	background-image: linear-gradient(to right, rgba(41, 49, 163), rgb(129, 143, 188));
	color: white;
	font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
	margin: 0px;
}

/* Container */
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 20px;
	border: solid 1px rgba(0, 0, 0, 0.5);

}

.container div {
	padding: 15px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.1);
}

/* Result */
h1 {
	text-align: center;
	font-size: 26px;
	padding: 10px;
	background-color: rgba(52, 54, 171, 0.355);
}

.container #result {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}

#title-result {
	flex-basis: 100% !important;
}

#result div {
	flex-basis: 25%;
	border: solid 1px rgba(0, 0, 0, 0.5);
}

/* Ttitles Answers*/
#answers #title-questions-answered {
	flex-basis: 100%;
	border: solid 1px rgba(0, 0, 0, 0.5);
}

#questions-answers .titles.row-answer {
	font-size: 17px;
}

#questions-answers .titles.row-answer:hover {
	background-color: rgba(0, 0, 0, 0.1);

}

/* Anwers */
h2 {
	text-align: center;
	font-size: 26px;
	padding: 10px;
	background-color: rgba(52, 54, 171, 0.355);

}

#answers {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}

#questions-answers {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}

#questions-answers .row-answer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	transition: 0.3s;
	font-size: 15px;
	transition: 0.5s;
	padding: 2px;

}

#questions-answers .row-answer .divs-is-correct {
	flex-basis: 10%;
	border: solid 1px rgba(0, 0, 0, 0.5);
}

#questions-answers .row-answer .divs-answers {
	flex-basis: 20%;
	border: solid 1px rgba(0, 0, 0, 0.5);
}

#questions-answers .row-answer .divs-correct-answers {
	flex-basis: 20%;
	border: solid 1px rgba(0, 0, 0, 0.5);
}

#questions-answers .row-answer .divs-questions {
	flex-basis: 50%;
	border: solid 1px rgba(0, 0, 0, 0.5);
}


#questions-answers .row-answer:hover {
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 16px;
}