* {
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(to right, rgba(41, 49, 163), rgb(129, 143, 188));
	color: white;
	font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif
}

/* Container */
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 1200px;
	margin: auto;
	border: solid 1px black;

}

.container div {
	padding: 15px;
	text-align: center;
		background-color: rgba(0, 0, 0, 0.1);
}

/* Result */
h1 {
	text-align: center;
	font-size: 26px;
	padding: 10px;
	background-color: rgba(52, 54, 171, 0.355);
}

.container #result {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}

#title-result {
	flex-basis: 100% !important;
}

#result div {
	flex-basis: 25%;
	border: solid 1px black;
}


/* Anwers */
h2 {
	text-align: center;
	font-size: 26px;
	padding: 10px;
	background-color: rgba(52, 54, 171, 0.355);
}

#answers {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}

#answers div {
	border: solid 1px black;
}

#answers .divs-questions {
	flex-basis: 50%;
}

#answers .divs-answers {
	flex-basis: 20%;
}

#answers .divs-correct-answers {
	flex-basis: 20%;
}

#answers .divs-is-correct {
	flex-basis: 10%;
}

#questions-answers {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}

#questions-answers .row-answer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0;
	transition: 0.3s;
	font-size: 12px;
	transition: 0.5s;

}

#questions-answers .row-answer .divs-is-correct {
	flex-basis: 10%;
	border: solid 1px black;

}

#questions-answers .row-answer .divs-answers {
	flex-basis: 20%;
	border: solid 1px black;
}

#questions-answers .row-answer .divs-correct-answers {
	flex-basis: 20%;
	border: solid 1px black;
}

#questions-answers .row-answer .divs-questions {
	flex-basis: 50%;
	border: solid 1px black;

}

#questions-answers .row-answer .col-questions {
	flex-basis: 40% !important;
}

#questions-answers .row-answer:hover {
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 14px;
}

#answers #title-questions-answered {
	flex-basis: 100%;
}