* {
  box-sizing: border-box;
 
}
body {
  background-image: linear-gradient(to right,  rgba(41, 49, 163), rgb(129, 143, 188));
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 1200px;
  margin: auto;
}
/* Container */

#container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
/* Container Form */

.content {
 padding: 10px;
 background-color: rgba(0, 0, 0, 0.4);
 border: solid 1px black;
}
/* Title */
#title {
  padding: 15px;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Form */

.form div {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    justify-content: center;
    font-size: 16px;
    width: 50%;
}
.form span {
  font-size: 25px;
}

/* Category */

.form .category {
  width: 100%;
}
/* Text Category*/
.category span {
  padding: 15px;
  font-size: 20px;
}
/* Select category*/
.category .form-select {
 width: 100%;
 height: 35px;
}
.category .form-select:focus,
.category .form-select:active {
  

  border-radius: 6px;
  box-shadow: 0 0 10px 10px rgba(52, 152, 219, 0.3); 
}


/* Button */
.form .button {
  width: 100%;
}
.form .button input {
  width: 100%;
  height: 45px;
  font-size: 20px;
  color: white;
  background-color: rgb(34, 17, 101);
  transition: 0.5s;
  border-color: white;
  border-radius: 8px;
  padding: 10px;
}

.button input:hover {
  background-color: rgb(32, 35, 189);
  cursor: pointer;
}

/*parallelogram*/ 
#parallelogram{
  position: absolute;
  left:50%;
  top: 50%;
  transform: translate(-50%, -50%) skew(6deg, 3deg);

  background-color: rgb(75, 29, 212);
  width: 500px;
  height: 500px;
  box-shadow: 5px 5px 15px;
  border-radius: 10px;
  z-index: -1;

}